@font-face {
  font-family: babyFont;
  src: url('/styles/bowlby.ttf') format('truetype');
}
@font-face {
  font-family: 'bowlby_one_scregular';
  src: url('/bowlby-webfont.eot');
  src: url('/bowlby-webfont.eot?#iefix') format('embedded-opentype'),
       url('/bowlby-webfont.woff2') format('woff2'),
       url('/bowlby-webfont.woff') format('woff'),
       url('/bowlby-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: thinFont;
  src: url('/styles/poiret.ttf') format('truetype');
}

body {
  background-color: honeydew;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

header {
  font-size: 3vw;
  font-family: thinFont;
  color: cadetblue;
}

footer {
  font-size: 1em;
  font-family: thinFont;
  color: cadetblue;
}

h2 {
  font-size: 5em;
  font-family: 'bowlby_one_scregular';
  color: deeppink;
}
h3 {
  font-size: 2em;
  font-family: 'bowlby_one_scregular';
  color: deeppink;
}
