@font-face {
  font-family: babyFont;
  src: url('/styles/bowlby.ttf') format('truetype');
}

@font-face {
  font-family: thinFont;
  src: url('/styles/poiret.ttf') format('truetype');
}

body {
  background-color: honeydew;
  text-align: center;
}

header {
  font-size: 3vw;
  font-family: thinFont;
}

footer {
  font-size: 1em;
  font-family: thinFont;
}

h2 {
  font-size: 5em;
  font-family: babyFont;
}
h2 {
  font-size: 2em;
  font-family: babyFont;
}
